.main-content{
    padding:30px;
}

.header-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.orange-btn{
    background:#f59e0b;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
}

.vehicle-form{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-bottom:25px;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.vehicle-form input,
.vehicle-form select{
    padding:12px;
    border:1px solid #ddd;
    border-radius:10px;
}

.vehicle-form button{
    background:#f59e0b;
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
}

.hidden{
    display:none;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    text-align:left;
    padding:15px;
    color:#92400e;
}

td{
    padding:15px;
    border-bottom:1px solid #eee;
}

.delete-btn{
    background:red;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
}